
html,
body,
#app,
.app {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.sign-in-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* TODO: app screen transitions */

.panel-tabs {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.special-tabs,
.user-tabs {
	display: flex;
	flex-direction: column;
}
.panel-tabs .panel-tab {
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

.mdl-layout__drawer .panel-tabs .mdl-navigation {
	padding: 0;
}
.search {
	margin: 8px;
}

/* TODO: something else? remove me? */
.placeholder {
	font-size: 3em;
	color: rgba(128, 128, 128, 0.2);
	padding: 1.5rem;
	line-height: 1;
}

/* */

.app .mdl-progress {
	width: 100%;
}

/* */

.mdl-layout__content {
	height: 100%;
}
.chat-panel {
	display: flex;
	height: 100%;
	flex-direction: column;
}
.chat-log {
	flex: 1;
}
.message-input {
	flex: 0 0 auto;
	display: flex;
	box-sizing: border-box;
}
.message-input input {
	flex: 1;
	font: inherit;
}
