
.message,
.message-input {
	margin: 6px;
}

.bubble {
	display: inline-block;
	background: rgba(255, 255, 255, 0.8);
	color: #222;
	border-radius: 0.4rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 0.3rem rgba(0, 0, 0, 0.2);
	padding: 0.4rem;
}

.bubble:focus {
	outline: none;
	border-color: rgb(33, 150, 243);
	box-shadow: 1px 1px 0.3rem rgba(33, 150, 243, 0.5);
}
