
.avatar {
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}

.user {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.username {
	margin: 0 0.5rem;
}

.username .highlight {
	background: yellow;
}
